**/out/*
**/.next/*
node_modules
.next
*.lock
public
**/ios/*
**/android/*
build
config
**/coverage/*
.jest
**/functions/lib/*
/.expo
web-build
dist
__mocks__
jest-setup.js
**/*.config.js
**/*.json
.gitignore
assets
**/*.test.tsx
.eslintignore
.prettierignore
global.css
*.md
.husky
expo-env.d.ts
*.yml
.gitattributes
junit.xml
**/coverage/*
test-report.html
.jest