**/out/*
**/.next/*
node_modules
.next
yarn.lock
public
**/ios/*
**/android/*
build
config
**/coverage/*
.jest
**/functions/lib/*
.expo
web-build
__mocks__
jest-setup.js
**/*.config.js
**/*.json
.gitignore
assets
.eslintignore
.prettierignore
global.css
*.md
.husky
expo-env.d.ts
*.yml
.npm
.gitattributes
junit.xml
**/coverage/*
test-report.html
.jest